.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.post-container {
  display: flex;
  margin: 1rem;
  flex-flow: row nowrap;
}
.post-content-container {
  flex: 6 6 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin-top: 1rem;
}

.photo-container {
  flex: 1 1 0;
  max-width: 4rem;
  margin-top: 1rem;
}
.display-photo {
  width: 3rem;
  border-radius: 3rem;
  margin-bottom: 40%;
  margin-left: 10%;
  margin-right: 10%;
}

.post-header {
}
.post-message {
}
.post-footer {
}
